{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
    <h3>{{ title }}</h3>
{% endif %}
<div class="panel-group" id="acordion-01" role="tablist" aria-multiselectable="true">
    {% set count = 0 %}
    {% for row in rows %}
        {% set count = count + 1 %}
        {%
          set row_classes = [
            default_row_class ? 'item',
            'panel panel-default'
          ]
        %}
        <div {{ row.attributes.addClass(row_classes) }}>
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-0{{ count }}" data-parent="#acordion-01" href="#collapse-0{{ count }}" class="collapsed">
                        {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_semestre }}'] }}
                    </a>
                </h4>
            </div>

            <div id="collapse-0{{ count }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" arial-expanded="false">
                <div class="panel-body">
                    {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_materias }}'] }}
                </div>
            </div>
            
            {# {{ row.content }} #}
        </div>
    {% endfor %}
</div>
