<!-- Search form -->
<div class="header-char-directory">
  <div class="search-top">
    <form class="directory-form" id="org-search-form">
      <p class="directory-form__title">Estas viendo: Organigrama</p>
      <p class="directory-form__subtitle">Si deseas ver una búsqueda
        personalizada
        escribe en el campo de abajo</p>
      <div class="directory-form__search">
        <input type="text" class="directory-form__search-input"
          name="org-search-term" placeholder="Buscar" />
        <button class="directory-form__search-submit fa fa-search"
          type="submit"></button>
      </div>
    </form>
  </div>
  <div class="search-bottom">
      <div class="content-word">
        <hr>
      </div>
  </div>
</div>

<!-- Make a list of nodes -->
<figure id="org-chart-draw-container" class="org-chart-main org-chart-section">
  <div class="org-draw-wrapper">
    <ul class="org-draw level-1">
      <li class="item-superior">
        <div class="item-superior__item item-superior__item--one">
          <img src="/modules/custom/uniagustiniana/modules/uniagustiniana_directory/images/banner-directorio/imagen_directorio.png" alt="">
          <h2>ASAMBLEA GENERAL</h2>
        </div>
        <div class="item-superior__item item-superior__item--two">
          <img src="/modules/custom/uniagustiniana/modules/uniagustiniana_directory/images/banner-directorio/imagen_directorio.png" alt="">
          <h2>CONSEJO SUPERIOR</h2>
        </div>
      </li>
      <li class="item-secondary">
        <div class="perfil-item with-line main">
          <div class="wrapper-item level-1">
            <div class="perfil-img">
              <% if (rectoria.get('fotografia') == null) { %>
                <img src="<%= window.OrgChartApp.orgChartImagePath %>isotipo.png" alt="">
              <% } else { %>
                <img src="<%= rectoria.get('fotografia') %>" alt="">
              <% } %>

              <a class="watch-team" href="#org/<%= rectoria.get('id') %>">Ver información</a>
            </div>

            <% if (rectoria.get('area') != null) { %>
              <h2 class="perfil-area"><%= rectoria.get('area').toLowerCase() %></h2>
            <%} %>
          </div>
        </div>

        <ul class="level-2">
          <%
            rectoriaChildren = rectoriaChildren.sort(function(a, b) {
              return a.attributes.codigo - b.attributes.codigo;
            });
          %>
          <% jQuery.each( rectoriaChildren, function(key, child ) { %>
            <li class="perfil-item with-raya ">
              <div class="wrapper-item level-<%= child.get('nivel') %>">
                <div class="perfil-img">
                  <% if (child.get('fotografia') == null) { %>
                    <img src="<%= window.OrgChartApp.orgChartImagePath %>isotipo.png" alt="">
                  <% } else { %>
                    <img src="<%= child.get('fotografia') %>" alt="">
                  <% } %>
                  <a class="watch-team" href="#org/<%= child.get('id') %>">Ver información</a>
                </div>

                <%
                  if (child.get('area') != null) {

                    var clase = key + 1 > 6 ?
                      "perfil-area--orange" :
                      "";
                %>
                <h2 class="perfil-area <%= clase %>"><%= child.get('area').toLowerCase() %></h2>
                <% } %>
              </div>
            </li>
          <% }) %>
        </ul>
      </li>
    </ul>
  </div>
</figure>
