<!-- <div class="diseno-12 banner-directory">
    <div class="twig-image-1">
        <img src="/modules/custom/uboyaca_directory/images/banner-directorio/imagen_directorio.jpg" alt="Imagen del Directorio" alt="Imagen del Directorio">
    </div>
    <div class="text-content">
        <div class="field-inner">
            <div class="col-xs-12 col-md-6">
                <h1 class="twig-title">Directorio</h1>
                <div class="twig-bocadillo">
                    <p>Directorio General de la Universidad de Boyacá</p>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="header-char-directory">
  <div class="search-top">
    <form class="directory-form" id="org-search-form">
      <p class="directory-form__title">Estas viendo: Organigrama</p>
      <p class="directory-form__subtitle">Si deseas ver una búsqueda
        personalizada
        escribe en el campo de abajo</p>
      <div class="directory-form__search">
        <input type="text" class="directory-form__search-input"
          name="org-search-term" placeholder="Buscar" />
        <button class="directory-form__search-submit fa fa-search"
          type="submit"></button>
      </div>
    </form>
  </div>
  <div class="search-bottom">
    <div class="content-word">
        <% var termin = term.charAt(0).toUpperCase()+term.substr(1) %>
        <p><%= termin %></p>
        <hr>
    </div>
  </div>
</div>

<!-- back button -->
<div class="directory-btn">
  <a class="directory-btn__top" href="/directory/#org" id="org-back-button">Regresar</a>
</div>

<!-- Items -->
<div class="org-results org-chart-section">
    <% if(items.length > 0) {%>
        <ul class="org-results__list results-list">
          <%
            items.models = items.models.sort(function(a, b) {
              return a.attributes.codigo - b.attributes.codigo;
            });

            jQuery.each( items.models, function(key, item ) {
          %>

          <li class="results-list__item">
            <div class="main-data">
              <h3 class="main-data__nombre">
                <%
                  var name = item.get('nombre'),
                    arr = name.split(' '),
                    arrConvertName = [];

                  arr.forEach(function(element) {
                    arrConvertName.push(element.charAt(0).toUpperCase()+element.substr(1).toLowerCase());
                  });
                %>

                <%= arrConvertName.join(' ') %>
              </h3>
              <p class="main-data__cargo">
                <%
                  var position = item.get('cargo'),
                    arr = position.split(' '),
                    arrConvertPosition = [];

                  arr.forEach(function(element) {
                    arrConvertPosition.push(element.charAt(0).toUpperCase()+element.substr(1).toLowerCase());
                  });
                %>
                <%= arrConvertPosition.join(' ') %>
              </p>
              <div class="main-data__content main-data__content--area">
                <img src="<%= window.OrgChartApp.orgChartImagePath %>user.png">
                <a class="data-area" href="#org/<%= item.get('id') %>"><%= item.get('area').toLowerCase() %></a>
              </div>
              <div class="main-data__content main-data__content--phone">
                <img src="<%= window.OrgChartApp.orgChartImagePath %>phone.png">
                <p class="data-phone"> <%=item.get('telefono')%><% if (item.get('extension') != null) {%> <span>(<%=item.get('extension')%>)</span><% }%></p>
              </div>
              <a class="main-data__email" href="mailto:<%= item.get('correo') %>"><%= item.get('correo') %></a>
            </div>
            <div class="description">
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quo voluptatum animi obcaecati, sit aspernatur itaque cofficia autem.</p>
            </div>
            <div class="profile-image">
              <% if (item.get('fotografia') != null) { %>
                <img src="<%= item.get('fotografia') %>" alt="">
              <% } else { %>
                <img src="<%= window.OrgChartApp.orgChartImagePath %>isotipo.png" alt="">
              <% } %>
              <p><%= item.get('area').toLowerCase() %></p>
            </div>
          </li>
          <% }); %>
        </ul>
    <% } else { %>
      <h3 class="org-results__title org-title">No se han encontrado resultados.</h3>
    <% } %>
</div>

<!-- Paginator -->
<%
  if( total > 12 ) {

	var numPages = total / 12
%>
  <nav class="pager" role="navigation">
    <ul class="pager__items js-pager__items">
      <% for( i = 0; i <= numPages; i++ ){ %>
        <li <%=( page==( i+1)) ? 'class="is-active"': '' %>>
          <a href="#org/search/<%= term %>/<%= i + 1 %>"><%= i + 1 %></a>
        </li>
      <% } %>
    </ul>
  </div>
<% } %>
