<%
	var noLevel3 = ""

	if(children[1].items.length <= 0){

		if(children[0].items.length <= 2 )
			noLevel3 = "no-level-3 a"

		if(children[0].items.length > 2 && children[0].items.length <= 4 )
			noLevel3 = "no-level-3 b"

		if(children[0].items.length > 4 && children[0].items.length <= 6 )
			noLevel3 = "no-level-3 c"

		if(children[0].items.length > 6 && children[0].items.length <= 8 )
			noLevel3 = "no-level-3 d"
	}

	if( children[0].items.length <= 0 && children[1].items.length <= 0 ) {
		if(children[2].items.length <= 2 )
			noLevel3 = "no-level-3 a"

		if(children[2].items.length > 2 && children[0].items.length <= 4 )
			noLevel3 = "no-level-3 b"

		if(children[2].items.length > 4 && children[0].items.length <= 6 )
			noLevel3 = "no-level-3 c"

		if(children[2].items.length > 8 && children[0].items.length <= 12 )
			noLevel3 = "no-level-3 e"
	}

%>

<div class="directory-btn">
	<a class="directory-btn__top" href="/directory/#org"  id="org-back-button">
		<i class="fa fa-arrow-left"></i>
	</a>
</div>

<!-- Make a list of nodes -->
<figure id="org-subchart-draw-container" class="org-chart">
	<ul class="ut-org-subchart-draw level-1 <%= noLevel3 %>">
		<li>
			<div class="perfil-item main">
				<div class="wrapper-item">
					<div class="item-data">
						<h3 class="item-data__nombre">
							<%
								var name = parent.get('nombre'),
									arr = name.split(' '),
									arrConvertName = [];

								arr.forEach(function(element) {
									arrConvertName.push(element.charAt(0).toUpperCase()+element.substr(1).toLowerCase());
								});
							%>
							<%= arrConvertName.join(' ') %>
						</h3>
						<p class="item-data__cargo">
							<%
								var position = parent.get('cargo'),
									arr = position.split(' '),
									arrConvertPosition = [];

								arr.forEach(function(element) {
									arrConvertPosition.push(element.charAt(0).toUpperCase()+element.substr(1).toLowerCase());
								});
							%>
							<%= arrConvertPosition.join(' ') %>
						</p>
						<div class="item-data__content item-data__content--area">
							<img src="<%= window.OrgChartApp.orgChartImagePath %>user.png">
							<a class="data-area" href="#org/<%= parent.get('id') %>"><%= parent.get('area').toLowerCase() %></a>
						</div>
						<div class="item-data__content item-data__content--phone">
							<img src="<%= window.OrgChartApp.orgChartImagePath %>phone.png">
							<p class="data-phone"> <%=parent.get('telefono')%><% if (parent.get('extension') != null) {%> <span>(<%=parent.get('extension')%>)</span><% }%></p>
						</div>
						<a class="item-data__email" href="mailto:<%= parent.get('correo') %>"><%= parent.get('correo') %></a>
					</div>
					<% if (parent.get('descripcion') != null) {%>
              <div class="description">
                <p>
                  <%= parent.get('descripcion') %>
                </p>
              </div>
            <% } %>
					<div class="perfil-img">
						<% if (parent.get('fotografia') == null) { %>
							<img src="<%= window.OrgChartApp.orgChartImagePath %>isotipo.png" alt="">
						<% } else { %>
							<img src="<%= parent.get('fotografia') %>" alt="">
						<% } %>
					</div>
				</div>
				<h2 class="item-data__area"><%= parent.get('area').toLowerCase() %></h2>
			</div>
			<% if( children[1].items.length > 0 ) { %>
				<ul class="level-3">
					<%
						children[1].items = children[1].items.sort(function(a, b) {
							return a.attributes.codigo - b.attributes.codigo;
						});

						jQuery.each( children[1].items, function(key, child ){
					%>
					<li class="perfil-item with-raya">
						<div class="wrapper-item sub-wrapper-item level-3">
							<div class="item-data">
								<h3 class="item-data__nombre">
									<%
										var name = child.get('nombre'),
											arr = name.split(' '),
											arrConvertName = [];

										arr.forEach(function(element) {
											arrConvertName.push(element.charAt(0).toUpperCase()+element.substr(1).toLowerCase());
										});
									%>
									<%= arrConvertName.join(' ') %>
								</h3>
								<p class="item-data__cargo">
									<%
										var position = child.get('cargo'),
											arr = position.split(' '),
											arrConvertPosition = [];

										arr.forEach(function(element) {
											arrConvertPosition.push(element.charAt(0).toUpperCase()+element.substr(1).toLowerCase());
										});
									%>
									<%= arrConvertPosition.join(' ') %>
								</p>
								<div class="item-data__content item-data__content--area">
									<img src="<%= window.OrgChartApp.orgChartImagePath %>user.png">
									<a class="data-area" href="#org/<%= child.get('id') %>"><%= child.get('area').toLowerCase() %></a>
								</div>
								<div class="item-data__content item-data__content--phone">
									<img src="<%= window.OrgChartApp.orgChartImagePath %>phone.png">
									<p class="data-phone"> <%=child.get('telefono')%><% if (child.get('extension') != null) {%> <span>(<%=child.get('extension')%>)</span><% }%></p>
								</div>
								<a class="item-data__email" href="mailto:<%= child.get('correo') %>"><%= child.get('correo') %></a>
								<a class="watch-team btn btn--primary" href="#org/<%= child.get('id') %>">Ver información</a>
							</div>
							<div class="perfil-img">
								<% if (child.get('fotografia') == null) { %>
									<img src="<%= window.OrgChartApp.orgChartImagePath %>isotipo.png" alt="">
								<% } else { %>
									<img src="<%= child.get('fotografia') %>" alt="">
								<% } %>
							</div>
						</div>
						<h2 class="item-data__area"><%= child.get('area').toLowerCase() %></h2>
					</li>
					<% }) %>
				</ul>
			<% } %>
			<ul class="level-4">
				<%
					children[0].items = children[0].items.sort(function(a, b) {
						return a.attributes.codigo - b.attributes.codigo;
					});

					jQuery.each( children[0].items, function(key, child ) {
				%>
				<li class="perfil-item with-raya">
					<div class="wrapper-item sub-wrapper-item level-3">
						<div class="item-data">
							<h3 class="item-data__nombre">
								<%
									var name = child.get('nombre'),
										arr = name.split(' '),
										arrConvertName = [];

									arr.forEach(function(element) {
										arrConvertName.push(element.charAt(0).toUpperCase()+element.substr(1).toLowerCase());
									});
								%>
								<%= arrConvertName.join(' ') %>
							</h3>
							<p class="item-data__cargo">
								<%
									var position = child.get('cargo'),
										arr = position.split(' '),
										arrConvertPosition = [];

									arr.forEach(function(element) {
										arrConvertPosition.push(element.charAt(0).toUpperCase()+element.substr(1).toLowerCase());
									});
								%>
								<%= arrConvertPosition.join(' ') %>
							</p>
							<div class="item-data__content item-data__content--area">
								<img src="<%= window.OrgChartApp.orgChartImagePath %>user.png">
								<a class="data-area" href="#org/<%= child.get('id') %>"><%= child.get('area').toLowerCase() %></a>
							</div>
							<div class="item-data__content item-data__content--phone">
								<img src="<%= window.OrgChartApp.orgChartImagePath %>phone.png">
								<p class="data-phone"> <%=child.get('telefono')%><% if (child.get('extension') != null) {%> <span>(<%=child.get('extension')%>)</span><% }%></p>
							</div>
							<a class="item-data__email" href="mailto:<%= child.get('correo') %>"><%= child.get('correo') %></a>
							<a class="watch-team btn btn--primary" href="#org/<%= child.get('id') %>">Ver información</a>
						</div>
						<div class="perfil-img">
							<% if (child.get('fotografia') == null) { %>
								<img src="<%= window.OrgChartApp.orgChartImagePath %>isotipo.png" alt="">
							<% } else { %>
								<img src="<%= child.get('fotografia') %>" alt="">
							<% } %>
						</div>
					</div>
					<h2 class="item-data__area"><%= child.get('area').toLowerCase() %></h2>
				</li>
				<% }) %>
			</ul>
			<% if( children[2].items.length > 0 ){ %>
				<ul class="level-5 other-members-square-list">
					<%
						children[2].items = children[2].items.sort(function(a, b) {
							return a.attributes.codigo - b.attributes.codigo;
						});

						jQuery.each( children[2].items, function(key, child ){
					%>
					<li class="perfil-item with-raya">
						<div class="wrapper-item sub-wrapper-item level-3">
							<div class="item-data">
								<h3 class="item-data__nombre">
									<%
										var name = child.get('nombre'),
											arr = name.split(' '),
											arrConvertName = [];

										arr.forEach(function(element) {
											arrConvertName.push(element.charAt(0).toUpperCase()+element.substr(1).toLowerCase());
										});
									%>
									<%= arrConvertName.join(' ') %>
								</h3>
								<p class="item-data__cargo">
									<%
										var position = child.get('cargo'),
											arr = position.split(' '),
											arrConvertPosition = [];

										arr.forEach(function(element) {
											arrConvertPosition.push(element.charAt(0).toUpperCase()+element.substr(1).toLowerCase());
										});
									%>
									<%= arrConvertPosition.join(' ') %>
								</p>
								<div class="item-data__content item-data__content--area">
									<img src="<%= window.OrgChartApp.orgChartImagePath %>user.png">
									<a class="data-area" href="#org/<%= child.get('id') %>"><%= child.get('area').toLowerCase() %></a>
								</div>
								<div class="item-data__content item-data__content--phone">
									<img src="<%= window.OrgChartApp.orgChartImagePath %>phone.png">
									<p class="data-phone"> <%=child.get('telefono')%><% if (child.get('extension') != null) {%> <span>(<%=child.get('extension')%>)</span><% }%></p>
								</div>
								<a class="item-data__email" href="mailto:<%= child.get('correo') %>"><%= child.get('correo') %></a>
								<a class="watch-team btn btn--primary" href="#org/<%= child.get('id') %>">Ver información</a>
							</div>
							<div class="perfil-img">
								<% if (child.get('fotografia') == null) { %>
									<img src="<%= window.OrgChartApp.orgChartImagePath %>isotipo.png" alt="">
								<% } else { %>
									<img src="<%= child.get('fotografia') %>" alt="">
								<% } %>
							</div>
						</div>
						<h2 class="item-data__area"><%= child.get('area').toLowerCase() %></h2>
					</li>
					<% }) %>
				</ul>
			<% } %>
		</li>
	</ul>
</figure>

<div class="footer-char-directory ">
	<div class="search-top">
		<form class="directory-form" id="org-search-form">
			<p class="directory-form__title">Estas viendo: Organigrama</p>
			<p class="directory-form__subtitle">Si deseas ver una búsqueda
				personalizada
				escribe en el campo de abajo</p>
			<div class="directory-form__search">
				<input type="text" class="directory-form__search-input"
					name="org-search-term" placeholder="Buscar" />
				<button class="directory-form__search-submit fa fa-search"
					type="submit"></button>
			</div>
		</form>
	</div>
</div>
